body {
  background-color: #e6f3ff; /* Azul claro */
  font-family: Tahoma, sans-serif;
}

.container {
  text-align: center;
  margin-top: 20vh; /* Centraliza verticalmente */
}

.input-box {
  background-color: #1e3a57; /* Azul escuro */
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.input-group {
  margin-bottom: 4cm; /* Espaçamento entre os inputs */
}

label {
  color: #ffffff; /* Cor do texto */
}
